{% extends 'index.html' %}


{% block tital %}
<title>Worker Signup | Skillzo</title>

{% endblock %}



{% block content %}

<!-- 
<style>
    .container {
        display: flex;
        justify-content: center;
    }
    .col-md-4 {
        margin: 0 10px; /* Agar aapko spacing chahiye dono divs ke beech me */
    }
</style> -->



<!-- style="margin-top: 50px; margin-right: 10px;" -->

<div class="row">
    <div style="display: flex;justify-content: center; margin-top: 50px;" class="container">
        <div style="margin: 0 10px;" class="col-md-4 col-sm-6">
            <div style="height: 400px;" class="single-blog-item" >
                <div class="card-image">
                    <h2 class="card-heading">
                        Get started
                        <small>Let us create your Customer account</small>
                    </h2>
                </div>
                <div  class="single-blog-item-txt single-explore-txt bg-theme-1">
                    <h2><a href="/signup/">Create Your Customer Account</a></h2>
                    <!-- <a>{{i.category_w}}</a> <br><a> Experience: {{i.exprience}}</a>
                    <br>
                    <p>
                        Location : {{i.location}} </p>
                    <p>
                        Location : {{i.name}} </p>
                    <p>
                        Easy Way To Contect Your Desired Person Like Plumber ,Carpenter
                        ,Mechenic etc.
        
                    </p> -->
    
    
                    <!-- <p class="explore-rating-price">
                            <span class="explore-rating">{{i.rating1}}</span>
                            <a href="#"> {{i.rating2}} Ratings</a>
                            <span class="explore-price-box">
                                form
                                <span class="explore-price">10k$-15k$</span>
                            </span>
        
                        </p> -->
    
                </div>
            </div>
    
        </div>

        <div style="margin: 0 10px;" class="col-md-4 col-sm-6">
            <div style="height: 400px;" class="single-blog-item">
                <div class="card-image">
                    <h2 class="card-heading">
                        Get started
                        <small>Let us create your Worker account</small>
                    </h2>
                </div>
                <div class="single-blog-item-txt single-explore-txt bg-theme-1">
                    <h2><a href="/worker/">Create  Worker Account </a></h2>
                  
    
                    
                  
    
                </div>
            </div>
    
        </div>
    </div>


    
</div>




{% endblock %}