{% extends 'index.html' %}


{% block tital %}
<title>Password | Skillzo</title>

{% endblock %}



{% block content %}


<!-- code here -->


       
<div class="card">
    {% if messages %}
    {% for mess in messages %}
    <div class="alert {{ message.tags }}"  role="alert">
        {{mess}}
    </div>


    {% endfor %}
    {% endif %}
    <div class="card-image">
        <h2 class="card-heading">
            Password
            <small>Create Your Password</small>
        </h2>
    </div>
    <form class="card-form" method="post">
        {% csrf_token %}
        
        <div class="input">
            <input type="password" name="cpassword" class="input-field" placeholder="Enter Username" required />
            <label class="input-label">Enter Password *</label>
        </div>

        <div class="input">
            <input type="password" name="password" class="input-field" placeholder="Enter Confirm Username" required />
            <label class="input-label">Enter Confirm Password *</label>
        </div>

        <div class="action">
            <button type="submit" class="action-button">Login</button>
        </div>
    </form>
    <div class="card-info">
        <p>By signing up you are agreeing to our <a href="/forget-username/">Forget Password</a></p>
    </div>
</div>



{% endblock %}